@import "../../index.scss";
.no_content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  & .content {
    @include FontStyle(22px, 600, #051923);
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .no_content {
    top: 100%;
  }
}
