@import "../../index.scss";
.filter_sort_div {
  width: 25%;
  @include FlexStyle(flex-end, center);
  & .sort_button {
    @include FlexStyle(space-between, center);
    width: 30%;
    background: #fff;
    color: #4096ff;
    border-color: #4096ff;
  }
  & .sort_button:disabled {
    border-color: rgba(0, 0, 0, 0.25) !important;
    color: rgba(0, 0, 0, 0.25) !important;
  }
  & .filters_badge {
    font-size: 24px;
    cursor: pointer;
    color: #1677ff;
    margin: 0px 10px 0px 20px;
  }
}
@media screen and (max-width: 767px) {
  .filter_sort_div {
    width: 40%;
    & .sort_button {
      width: 55%;
    }
    & .filters_badge {
      margin: 0px 0px 0px 12px;
    }
  }
}
