@import "../../index.scss";
.header {
  padding: 20px 50px;
  background: #e9f2ff;
  & .content {
    @include FontStyle(24px, 500, rgba(0, 0, 0, 0.87));
    margin: 10px 0px;
  }
  & .sub_content {
    @include FontStyle(16px, normal, rgba(0, 0, 0, 0.87));
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
.summary_data {
  border-radius: 12px;
  padding: 10px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .count_box {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 4px;
    padding: 20px 150px 20px 20px;
    & .heading {
      @include FontStyle(16px, 600, rgba(0, 0, 0, 0.6));
    }
    & .heading_subContent {
      @include FontStyle(28px, 700, rgba(0, 0, 0, 0.87));
      margin-bottom: 10px;
    }
  }
  & .tags {
    text-transform: capitalize;
  }
}
.task_container {
  padding: 20px 50px;
  margin: 20px;
  border-radius: 12px;
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: scroll;
  box-shadow: 0 2.6400001049px 16px 0 #0000001a;
  .disabled_class {
    user-select: none;
    pointer-events: none;
    opacity: 0.6;
  }
  & .filters_div {
    & .content {
      @include FontStyle(18px, 500, rgb(14, 13, 13));
      display: flex;
      align-items: center;
      & .tags {
        margin-left: 10px;
      }
    }
    & .filter_body {
      margin-bottom: 20px;
      & .filter_heading {
        @include FontStyle(16px, 400, rgba(88, 88, 89, 1));
        margin-bottom: 10px;
      }
      & .ant-checkbox-wrapper {
        @include FontStyle(14px, normal, rgb(14, 13, 13));
        cursor: pointer;
      }
      & .dates_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  & .search_div {
    & .content {
      @include FontStyle(18px, 500, rgb(14, 13, 13));
    }
  }
  & .sort_div {
    & .content {
      @include FontStyle(18px, 500, rgb(14, 13, 13));
    }
    & .radio_content {
      @include FontStyle(16px, normal, rgb(14, 13, 13));
      cursor: pointer;
    }
  }
  & .no_content {
    @include FontStyle(22px, 600, #051923);
    text-align: center;
  }
  & .action_content {
    display: flex;
    justify-content: center;
  }
  & .task_body {
    border-radius: 8px;
    background: #f4f5f7;
    padding: 10px 20px;
    margin: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .task_details {
      width: 70%;
      & .content {
        @include FontStyle(18px, 600, rgb(14, 13, 13));
        padding: 6px 0px;
        display: flex;
        align-items: center;
        & .tags {
          text-transform: capitalize;
          margin-left: 14px;
        }
      }
      & .content_des {
        @include FontStyle(14px, 400, rgba(88, 88, 89, 1));
        padding: 6px 0px;
      }
    }
    & .task_actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      & .icon {
        margin-left: 14px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
